body {
  background-color: rgb(220, 162, 220);
}
header,
footer {
  text-align: center;
  background-color: rgb(221, 238, 180);
  color: rgb(123, 16, 82);
  clear: both;
  margin: 5px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main-nav {
  background-color: rgb(236, 188, 231);
}
#main-nav li {
  display: inline-block;
  position: relative;
  padding: 10px;
}
#main-nav li:hover {
  background-color: rgb(123, 16, 82);
  color: white;
  font-weight: bold;
}
.content-box {
  background-color: pink;
  border: grey solid 2px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 70%;
  float: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#rules {
  float: right;
  width: 25%;
  background-color: lightcyan;
  border: grey solid 2px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#rules:hover {
  background-color: rgb(252, 255, 188);
}
input:focus {
  width: 20%;
  background-color: rgb(255, 123, 123);
  color: black;
}
